USE [master]
GO
/****** Object:  Database [SubwayStations]    Script Date: 11/07/2022 03:06:43 p. m. ******/
CREATE DATABASE [SubwayStations]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubwayStations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubwayStations]
GO
/****** Object:  Table [dbo].[SubwayStation]    Script Date: 11/07/2022 03:06:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubwayStation](
	[url] [varchar](33) NOT NULL,
	[objectid] [varchar](50) NOT NULL,
	[name] [varchar](34) NOT NULL,
	[the_geomtype] [varchar](5) NOT NULL,
	[the_geomcoordinates0] [numeric](18, 14) NOT NULL,
	[the_geomcoordinates1] [numeric](18, 15) NOT NULL,
	[line] [varchar](15) NOT NULL,
	[notes] [varchar](86) NOT NULL,
 CONSTRAINT [PK__SubwaySt__DD7784169F254298] PRIMARY KEY CLUSTERED 
(
	[objectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/07/2022 03:06:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubwayStation]    Script Date: 11/07/2022 03:06:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubwayStation](
	[IdUser] [int] NOT NULL,
	[IdSubwayStation] [varchar](50) NOT NULL,
 CONSTRAINT [PK__UserSubw__B07AC63B189522D3] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC,
	[IdSubwayStation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserSubwayStation]  WITH CHECK ADD  CONSTRAINT [FK_SubwayStation] FOREIGN KEY([IdSubwayStation])
REFERENCES [dbo].[SubwayStation] ([objectid])
GO
ALTER TABLE [dbo].[UserSubwayStation] CHECK CONSTRAINT [FK_SubwayStation]
GO
USE [master]
GO
